# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [63]:
import warnings
warnings.simplefilter(action='ignore', category=DeprecationWarning)

In [32]:
import pandas as pd
import yfinance as yf

In [4]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\lenovo\anaconda3\lib\site-packages (25.1.1)

In [6]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\lenovo\anaconda3\lib\site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.2.4)
Requirement already satisfied: requests>=2.31 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\lenovo\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.1.31)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)

## How to work with a Ticker object

In [10]:
import yfinance as yf

symbol = 'META'
ticker = yf.Ticker(symbol)

### Show ticker info

In [15]:
import pandas as pd

In [17]:
pd.Series(ticker.info).head(20)

address1                                                        1 Meta Way
city                                                            Menlo Park
state                                                                   CA
zip                                                                  94025
country                                                      United States
phone                                                         650 543 4800
website                                        https://investor.atmeta.com
industry                                    Internet Content & Information
industryKey                                   internet-content-information
industryDisp                                Internet Content & Information
sector                                              Communication Services
sectorKey                                           communication-services
sectorDisp                                          Communication Services
longBusinessSummary      Meta Platforms, Inc. engages in the developmen...
fullTimeEmployees                                                    76834
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Mark Elliot Zucker...
auditRisk                                                                9
boardRisk                                                               10
compensationRisk                                                        10
shareHolderRightsRisk                                                   10
dtype: object

### Get market data

In [19]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1887 entries, 2025-07-11 09:30:00-04:00 to 2025-07-17 15:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1887 non-null   float64
 1   High          1887 non-null   float64
 2   Low           1887 non-null   float64
 3   Close         1887 non-null   float64
 4   Volume        1887 non-null   int64
 5   Dividends     1887 non-null   float64
 6   Stock Splits  1887 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 117.9 KB

### View company actions

In [21]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits
Date
2024-02-21 00:00:00-05:00      0.500           0.0
2024-06-14 00:00:00-04:00      0.500           0.0
2024-09-16 00:00:00-04:00      0.500           0.0
2024-12-16 00:00:00-05:00      0.500           0.0
2025-03-14 00:00:00-04:00      0.525           0.0
2025-06-16 00:00:00-04:00      0.525           0.0

In [25]:
ticker.dividends

Date
2024-02-21 00:00:00-05:00    0.500
2024-06-14 00:00:00-04:00    0.500
2024-09-16 00:00:00-04:00    0.500
2024-12-16 00:00:00-05:00    0.500
2025-03-14 00:00:00-04:00    0.525
2025-06-16 00:00:00-04:00    0.525
Name: Dividends, dtype: float64

In [27]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [30]:
ticker.financials

,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,-8.142000e+07,-6.441600e+07,-1.579500e+07,-2.338000e+07,NaN
Tax Rate For Calcs,1.180000e-01,1.760000e-01,1.950000e-01,1.670000e-01,NaN
Normalized EBITDA,8.756600e+10,5.941800e+10,3.777100e+10,5.541400e+10,NaN
Total Unusual Items,-6.900000e+08,-3.660000e+08,-8.100000e+07,-1.400000e+08,NaN
Total Unusual Items Excluding Goodwill,-6.900000e+08,-3.660000e+08,-8.100000e+07,-1.400000e+08,NaN
Net Income From Continuing Operation Net Minority Interest,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Reconciled Depreciation,1.549800e+10,1.117800e+10,8.686000e+09,7.967000e+09,NaN
Reconciled Cost Of Revenue,3.016100e+10,2.595900e+10,2.524900e+10,2.264900e+10,NaN
EBITDA,8.687600e+10,5.905200e+10,3.769000e+10,5.527400e+10,NaN
EBIT,7.137800e+10,4.787400e+10,2.900400e+10,4.730700e+10,NaN
Net Interest Income,1.973000e+09,1.043000e+09,-4.400000e+07,6.710000e+08,NaN
Interest Expense,7.150000e+08,4.460000e+08,1.850000e+08,2.300000e+07,NaN
Interest Income,2.517000e+09,1.639000e+09,4.610000e+08,4.840000e+08,NaN
Normalized Income,6.296858e+10,3.939958e+10,2.326520e+10,3.948662e+10,NaN
Net Income From Continuing And Discontinued Operation,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Total Expenses,9.512100e+10,8.815100e+10,8.766500e+10,7.117600e+10,NaN
Total Operating Income As Reported,6.938000e+10,4.675100e+10,2.894400e+10,4.675300e+10,NaN
Diluted Average Shares,2.614000e+09,2.629000e+09,2.702000e+09,2.859000e+09,NaN
Basic Average Shares,2.534000e+09,2.574000e+09,2.687000e+09,2.815000e+09,NaN
Diluted EPS,2.386000e+01,1.487000e+01,8.590000e+00,1.377000e+01,NaN
Basic EPS,2.461000e+01,1.519000e+01,8.630000e+00,1.399000e+01,NaN
Diluted NI Availto Com Stockholders,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Net Income Common Stockholders,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Otherunder Preferred Stock Dividend,NaN,NaN,NaN,NaN,0.0
Net Income,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Net Income Including Noncontrolling Interests,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Net Income Continuous Operations,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN
Tax Provision,8.303000e+09,8.330000e+09,5.619000e+09,7.914000e+09,NaN
Pretax Income,7.066300e+10,4.742800e+10,2.881900e+10,4.728400e+10,NaN
Other Income Expense,-6.900000e+08,-3.660000e+08,-8.100000e+07,-1.400000e+08,NaN
Other Non Operating Income Expenses,NaN,NaN,-3.200000e+08,2.100000e+08,-34000000.0
Special Income Charges,NaN,NaN,NaN,0.000000e+00,0.0
Gain On Sale Of Security,-6.900000e+08,-3.660000e+08,-8.100000e+07,-1.400000e+08,NaN
Net Non Operating Interest Income Expense,1.973000e+09,1.043000e+09,-4.400000e+07,6.710000e+08,NaN
Total Other Finance Cost,-1.710000e+08,1.500000e+08,3.200000e+08,-2.100000e+08,NaN
Interest Expense Non Operating,7.150000e+08,4.460000e+08,1.850000e+08,2.300000e+07,NaN
Interest Income Non Operating,2.517000e+09,1.639000e+09,4.610000e+08,4.840000e+08,NaN
Operating Income,6.938000e+10,4.675100e+10,2.894400e+10,4.675300e+10,NaN
Operating Expense,6.496000e+10,6.219200e+10,6.241600e+10,4.852700e+10,NaN
Research And Development,4.387300e+10,3.848300e+10,3.533800e+10,2.465500e+10,NaN
Selling General And Administration,2.108700e+10,2.370900e+10,2.707800e+10,2.387200e+10,NaN
Selling And Marketing Expense,1.134700e+10,1.230100e+10,1.526200e+10,1.404300e+10,NaN
General And Administrative Expense,9.740000e+09,1.140800e+10,1.181600e+10,9.829000e+09,NaN
Other Gand A,9.740000e+09,1.140800e+10,1.181600e+10,9.829000e+09,NaN
Gross Profit,1.343400e+11,1.089430e+11,9.136000e+10,9.528000e+10,NaN
Cost Of Revenue,3.016100e+10,2.595900e+10,2.524900e+10,2.264900e+10,NaN
Total Revenue,1.645010e+11,1.349020e+11,1.166090e+11,1.179290e+11,NaN
Operating Revenue,1.627790e+11,1.338440e+11,1.158010e+11,1.172080e+11,NaN

In [32]:
ticker.quarterly_financials

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31
Tax Effect Of Unusual Items,2.088000e+07,-4.436523e+07,1.320000e+06,-1.848000e+07,-1.924000e+07
Tax Rate For Calcs,9.000000e-02,1.152340e-01,1.200000e-01,1.100000e-01,1.300000e-01
Normalized EBITDA,2.229000e+10,2.864800e+10,2.204600e+10,1.903900e+10,1.783200e+10
Total Unusual Items,2.320000e+08,-3.850000e+08,1.100000e+07,-1.680000e+08,-1.480000e+08
Total Unusual Items Excluding Goodwill,2.320000e+08,-3.850000e+08,1.100000e+07,-1.680000e+08,-1.480000e+08
Net Income From Continuing Operation Net Minority Interest,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Reconciled Depreciation,3.900000e+09,4.460000e+09,4.027000e+09,3.637000e+09,3.374000e+09
Reconciled Cost Of Revenue,7.572000e+09,8.839000e+09,7.375000e+09,7.308000e+09,6.640000e+09
EBITDA,2.252200e+10,2.826300e+10,2.205700e+10,1.887100e+10,1.768400e+10
EBIT,1.862200e+10,2.380300e+10,1.803000e+10,1.523400e+10,1.431000e+10
Net Interest Income,5.950000e+08,5.730000e+08,4.610000e+08,4.270000e+08,5.130000e+08
Interest Expense,2.400000e+08,2.510000e+08,2.080000e+08,1.280000e+08,1.270000e+08
Interest Income,6.580000e+08,7.310000e+08,6.610000e+08,5.400000e+08,5.850000e+08
Normalized Income,1.643288e+10,2.117863e+10,1.567832e+10,1.361452e+10,1.249776e+10
Net Income From Continuing And Discontinued Operation,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Total Expenses,2.475900e+10,2.502100e+10,2.323900e+10,2.422400e+10,2.263700e+10
Total Operating Income As Reported,1.755500e+10,2.336400e+10,1.735000e+10,1.484700e+10,1.381800e+10
Diluted Average Shares,2.590000e+09,2.599000e+09,2.600000e+09,2.610000e+09,2.625000e+09
Basic Average Shares,2.527000e+09,2.529000e+09,2.529000e+09,2.534000e+09,2.545000e+09
Diluted EPS,6.430000e+00,8.020000e+00,6.030000e+00,5.160000e+00,4.710000e+00
Basic EPS,6.590000e+00,8.240000e+00,6.200000e+00,5.310000e+00,4.860000e+00
Diluted NI Availto Com Stockholders,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Net Income Common Stockholders,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Net Income,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Net Income Including Noncontrolling Interests,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Net Income Continuous Operations,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10
Tax Provision,1.738000e+09,2.714000e+09,2.134000e+09,1.641000e+09,1.814000e+09
Pretax Income,1.838200e+10,2.355200e+10,1.782200e+10,1.510600e+10,1.418300e+10
Other Income Expense,2.320000e+08,-3.850000e+08,1.100000e+07,-1.680000e+08,-1.480000e+08
Gain On Sale Of Security,2.320000e+08,-3.850000e+08,1.100000e+07,-1.680000e+08,-1.480000e+08
Net Non Operating Interest Income Expense,5.950000e+08,5.730000e+08,4.610000e+08,4.270000e+08,5.130000e+08
Total Other Finance Cost,-1.770000e+08,-9.300000e+07,-8.000000e+06,-1.500000e+07,-5.500000e+07
Interest Expense Non Operating,2.400000e+08,2.510000e+08,2.080000e+08,1.280000e+08,1.270000e+08
Interest Income Non Operating,6.580000e+08,7.310000e+08,6.610000e+08,5.400000e+08,5.850000e+08
Operating Income,1.755500e+10,2.336400e+10,1.735000e+10,1.484700e+10,1.381800e+10
Operating Expense,1.718700e+10,1.618200e+10,1.586400e+10,1.691600e+10,1.599700e+10
Research And Development,1.215000e+10,1.218000e+10,1.117700e+10,1.053700e+10,9.978000e+09
Selling General And Administration,5.037000e+09,4.002000e+09,4.687000e+09,6.379000e+09,6.019000e+09
Selling And Marketing Expense,2.757000e+09,3.240000e+09,2.822000e+09,2.721000e+09,2.564000e+09
General And Administrative Expense,2.280000e+09,7.620000e+08,1.865000e+09,3.658000e+09,3.455000e+09
Other Gand A,2.280000e+09,7.620000e+08,1.865000e+09,3.658000e+09,3.455000e+09
Gross Profit,3.474200e+10,3.954600e+10,3.321400e+10,3.176300e+10,2.981500e+10
Cost Of Revenue,7.572000e+09,8.839000e+09,7.375000e+09,7.308000e+09,6.640000e+09
Total Revenue,4.231400e+10,4.838500e+10,4.058900e+10,3.907100e+10,3.645500e+10
Operating Revenue,4.180400e+10,4.786600e+10,4.015500e+10,3.868200e+10,3.607500e+10

### Annual and Quarterly Balance Sheet

In [34]:
ticker.balance_sheet

,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Treasury Shares Number,NaN,0.000000e+00,NaN,NaN,NaN
Ordinary Shares Number,2.534488e+09,2.561000e+09,2.614000e+09,2.741000e+09,NaN
Share Issued,2.534488e+09,2.561000e+09,2.614000e+09,2.741000e+09,NaN
Total Debt,4.906000e+10,3.723400e+10,2.659100e+10,1.387300e+10,NaN
Tangible Book Value,1.610680e+11,1.317260e+11,1.045100e+11,1.050480e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,7.781500e+10,6.540300e+10,4.073800e+10,4.799800e+10,NaN
Other Short Term Investments,3.392600e+10,2.354100e+10,2.605700e+10,3.139700e+10,NaN
Cash And Cash Equivalents,4.388900e+10,4.186200e+10,1.468100e+10,1.660100e+10,NaN
Cash Equivalents,3.667100e+10,3.559700e+10,8.505000e+09,9.293000e+09,NaN
Cash Financial,7.218000e+09,6.265000e+09,6.176000e+09,7.308000e+09,NaN

In [36]:
ticker.quarterly_balance_sheet

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Treasury Shares Number,NaN,NaN,NaN,NaN,NaN,0.0
Ordinary Shares Number,2.523000e+09,2.534488e+09,2.524000e+09,2.533088e+09,2.537000e+09,NaN
Share Issued,2.523000e+09,2.534488e+09,2.524000e+09,2.533088e+09,2.537000e+09,NaN
Net Debt,7.900000e+07,NaN,NaN,NaN,NaN,NaN
Total Debt,4.951900e+10,4.906000e+10,4.904700e+10,3.799100e+10,3.763300e+10,NaN
...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,7.023000e+10,7.781500e+10,7.090000e+10,5.808000e+10,5.812000e+10,NaN
Other Short Term Investments,4.148000e+10,3.392600e+10,2.704800e+10,2.603500e+10,2.581300e+10,NaN
Cash And Cash Equivalents,2.875000e+10,4.388900e+10,4.385200e+10,3.204500e+10,3.230700e+10,NaN
Cash Equivalents,2.458800e+10,3.667100e+10,3.732300e+10,2.588600e+10,2.581200e+10,NaN
Cash Financial,4.162000e+09,7.218000e+09,6.529000e+09,6.159000e+09,6.495000e+09,NaN

### Annual and Quarterly Cashflow Statement

In [38]:
ticker.cashflow

,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Free Cash Flow,5.407200e+10,4.406800e+10,1.928900e+10,3.899300e+10,NaN
Repurchase Of Capital Stock,-3.012500e+10,-1.977400e+10,-2.795600e+10,-4.453700e+10,NaN
Repayment Of Debt,-1.969000e+09,-1.058000e+09,-8.500000e+08,-6.770000e+08,NaN
Issuance Of Debt,1.043200e+10,8.455000e+09,9.921000e+09,0.000000e+00,NaN
Capital Expenditure,-3.725600e+10,-2.704500e+10,-3.118600e+10,-1.869000e+10,NaN
Interest Paid Supplemental Data,4.860000e+08,4.480000e+08,0.000000e+00,0.000000e+00,NaN
Income Tax Paid Supplemental Data,1.055400e+10,6.607000e+09,6.407000e+09,8.525000e+09,NaN
End Cash Position,4.543800e+10,4.282700e+10,1.559600e+10,1.686500e+10,NaN
Beginning Cash Position,4.282700e+10,1.559600e+10,1.686500e+10,1.795400e+10,NaN
Effect Of Exchange Rate Changes,-7.860000e+08,1.130000e+08,-6.380000e+08,-4.740000e+08,NaN
Changes In Cash,3.397000e+09,2.711800e+10,-6.310000e+08,-6.150000e+08,NaN
Financing Cash Flow,-4.078100e+10,-1.950000e+10,-2.213600e+10,-5.072800e+10,NaN
Cash Flow From Continuing Financing Activities,-4.078100e+10,-1.950000e+10,-2.213600e+10,-5.072800e+10,NaN
Net Other Financing Charges,-1.404700e+10,-7.123000e+09,-3.251000e+09,-5.514000e+09,NaN
Cash Dividends Paid,-5.072000e+09,0.000000e+00,0.000000e+00,NaN,NaN
Common Stock Dividend Paid,-5.072000e+09,0.000000e+00,0.000000e+00,NaN,NaN
Net Common Stock Issuance,-3.012500e+10,-1.977400e+10,-2.795600e+10,-4.453700e+10,NaN
Common Stock Payments,-3.012500e+10,-1.977400e+10,-2.795600e+10,-4.453700e+10,NaN
Net Issuance Payments Of Debt,8.463000e+09,7.397000e+09,9.071000e+09,-6.770000e+08,NaN
Net Short Term Debt Issuance,NaN,NaN,NaN,1.400000e+07,24000000.0
Net Long Term Debt Issuance,8.463000e+09,7.397000e+09,9.071000e+09,-6.770000e+08,NaN
Long Term Debt Payments,-1.969000e+09,-1.058000e+09,-8.500000e+08,-6.770000e+08,NaN
Long Term Debt Issuance,1.043200e+10,8.455000e+09,9.921000e+09,0.000000e+00,NaN
Investing Cash Flow,-4.715000e+10,-2.449500e+10,-2.897000e+10,-7.570000e+09,NaN
Cash Flow From Continuing Investing Activities,-4.715000e+10,-2.449500e+10,-2.897000e+10,-7.570000e+09,NaN
Net Other Investing Changes,1.290000e+08,-2.300000e+07,-4.000000e+06,-3.310000e+08,NaN
Net Investment Purchase And Sale,-9.753000e+09,3.202000e+09,3.532000e+09,1.217900e+10,NaN
Sale Of Investment,1.578900e+10,6.184000e+09,1.315800e+10,4.258600e+10,NaN
Purchase Of Investment,-2.554200e+10,-2.982000e+09,-9.626000e+09,-3.040700e+10,NaN
Net Business Purchase And Sale,-2.700000e+08,-6.290000e+08,-1.312000e+09,-8.510000e+08,NaN
Purchase Of Business,-2.700000e+08,-6.290000e+08,-1.312000e+09,-8.510000e+08,NaN
Net PPE Purchase And Sale,-3.725600e+10,-2.704500e+10,-3.118600e+10,-1.856700e+10,NaN
Sale Of PPE,NaN,2.210000e+08,2.450000e+08,1.230000e+08,48000000.0
Purchase Of PPE,-3.725600e+10,-2.704500e+10,-3.118600e+10,-1.869000e+10,NaN
Operating Cash Flow,9.132800e+10,7.111300e+10,5.047500e+10,5.768300e+10,NaN
Cash Flow From Continuing Operating Activities,9.132800e+10,7.111300e+10,5.047500e+10,5.768300e+10,NaN
Change In Working Capital,1.048000e+09,3.836000e+09,5.683000e+09,7.000000e+08,NaN
Change In Other Working Capital,NaN,NaN,NaN,1.870000e+08,108000000.0
Change In Other Current Liabilities,2.805000e+09,6.240000e+08,8.860000e+08,9.410000e+08,NaN
Change In Other Current Assets,-2.700000e+08,-8.000000e+07,-1.060000e+08,-3.490000e+08,NaN
Change In Payables And Accrued Expense,6.960000e+08,5.132000e+09,4.510000e+09,4.968000e+09,NaN
Change In Accrued Expense,3.230000e+08,5.081000e+09,4.300000e+09,3.544000e+09,NaN
Change In Payable,3.730000e+08,5.100000e+07,2.100000e+08,1.424000e+09,NaN
Change In Account Payable,3.730000e+08,5.100000e+07,2.100000e+08,1.436000e+09,NaN
Change In Prepaid Assets,-6.980000e+08,5.590000e+08,1.620000e+08,-1.750000e+09,NaN
Change In Receivables,-1.485000e+09,-2.399000e+09,2.310000e+08,-3.110000e+09,NaN
Changes In Account Receivables,-1.485000e+09,-2.399000e+09,2.310000e+08,-3.110000e+09,NaN
Other Non Cash Items,8.700000e+07,4.110000e+08,1.982000e+09,-1.270000e+08,NaN
Stock Based Compensation,1.669000e+10,1.402700e+10,1.199200e+10,9.164000e+09,NaN
Unrealized Gain Loss On Investment Securities,NaN,NaN,4.630000e+08,-2.320000e+08,33000000.0
Asset Impairment Charge,3.830000e+08,2.432000e+09,2.218000e+09,0.000000e+00,NaN
Deferred Tax,-4.738000e+09,1.310000e+08,-3.286000e+09,6.090000e+08,NaN
Deferred Income Tax,-4.738000e+09,1.310000e+08,-3.286000e+09,6.090000e+08,NaN
Depreciation Amortization Depletion,1.549800e+10,1.117800e+10,8.686000e+09,7.967000e+09,NaN
Depreciation And Amortization,1.549800e+10,1.117800e+10,8.686000e+09,7.967000e+09,NaN
Net Income From Continuing Operations,6.236000e+10,3.909800e+10,2.320000e+10,3.937000e+10,NaN

In [40]:
ticker.quarterly_cashflow

,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Free Cash Flow,1.108500e+10,1.356300e+10,1.646600e+10,1.119700e+10,1.284600e+10,NaN
Repurchase Of Capital Stock,-1.275400e+10,0.000000e+00,-8.818000e+09,-6.299000e+09,-1.500800e+10,NaN
Repayment Of Debt,-7.510000e+08,-4.110000e+08,-9.440000e+08,-2.990000e+08,-3.150000e+08,NaN
Issuance Of Debt,NaN,0.000000e+00,1.043200e+10,NaN,NaN,0.000000e+00
Capital Expenditure,-1.294100e+10,-1.442500e+10,-8.258000e+09,-8.173000e+09,-6.400000e+09,NaN
Interest Paid Supplemental Data,3.520000e+08,1.300000e+08,1.110000e+08,1.240000e+08,1.210000e+08,NaN
Income Tax Paid Supplemental Data,4.480000e+08,2.228000e+09,1.767000e+09,5.929000e+09,6.300000e+08,NaN
End Cash Position,3.007100e+10,4.543800e+10,4.512700e+10,3.302600e+10,3.328400e+10,NaN
Beginning Cash Position,4.543800e+10,4.512700e+10,3.302600e+10,3.328400e+10,4.282700e+10,NaN
Effect Of Exchange Rate Changes,1.120000e+08,-7.140000e+08,3.680000e+08,-1.520000e+08,-2.880000e+08,NaN
Changes In Cash,-1.547900e+10,1.025000e+09,1.173300e+10,-1.060000e+08,-9.255000e+09,NaN
Financing Cash Flow,-1.949500e+10,-5.465000e+09,-4.371000e+09,-1.117800e+10,-1.976700e+10,NaN
Cash Flow From Continuing Financing Activities,-1.949500e+10,-5.465000e+09,-4.371000e+09,-1.117800e+10,-1.976700e+10,NaN
Net Other Financing Charges,-4.661000e+09,-3.784000e+09,-3.778000e+09,-3.314000e+09,-3.171000e+09,NaN
Cash Dividends Paid,-1.329000e+09,-1.270000e+09,-1.263000e+09,-1.266000e+09,-1.273000e+09,NaN
Common Stock Dividend Paid,-1.329000e+09,-1.270000e+09,-1.263000e+09,-1.266000e+09,-1.273000e+09,NaN
Net Common Stock Issuance,-1.275400e+10,0.000000e+00,-8.818000e+09,-6.299000e+09,-1.500800e+10,NaN
Common Stock Payments,-1.275400e+10,0.000000e+00,-8.818000e+09,-6.299000e+09,-1.500800e+10,NaN
Net Issuance Payments Of Debt,-7.510000e+08,-4.110000e+08,9.488000e+09,-2.990000e+08,-3.150000e+08,NaN
Net Long Term Debt Issuance,-7.510000e+08,-4.110000e+08,9.488000e+09,-2.990000e+08,-3.150000e+08,NaN
Long Term Debt Payments,-7.510000e+08,-4.110000e+08,-9.440000e+08,-2.990000e+08,-3.150000e+08,NaN
Long Term Debt Issuance,NaN,0.000000e+00,1.043200e+10,NaN,NaN,0.000000e+00
Investing Cash Flow,-2.001000e+10,-2.149800e+10,-8.620000e+09,-8.298000e+09,-8.734000e+09,NaN
Cash Flow From Continuing Investing Activities,-2.001000e+10,-2.149800e+10,-8.620000e+09,-8.298000e+09,-8.734000e+09,NaN
Net Other Investing Changes,-9.000000e+07,1.700000e+07,1.240000e+08,6.000000e+07,-7.200000e+07,NaN
Net Investment Purchase And Sale,-6.979000e+09,-7.081000e+09,-3.540000e+08,-5.600000e+07,-2.262000e+09,NaN
Sale Of Investment,4.784000e+09,3.817000e+09,4.114000e+09,3.233000e+09,4.625000e+09,NaN
Purchase Of Investment,-1.176300e+10,-1.089800e+10,-4.468000e+09,-3.289000e+09,-6.887000e+09,NaN
Net Business Purchase And Sale,NaN,-9.000000e+06,-1.320000e+08,-5.700000e+07,-7.200000e+07,-6.400000e+07
Purchase Of Business,NaN,-9.000000e+06,-1.320000e+08,-5.700000e+07,-7.200000e+07,-6.400000e+07
Net PPE Purchase And Sale,-1.294100e+10,-1.442500e+10,-8.258000e+09,-8.173000e+09,-6.400000e+09,NaN
Sale Of PPE,NaN,NaN,NaN,NaN,NaN,7.300000e+07
Purchase Of PPE,-1.294100e+10,-1.442500e+10,-8.258000e+09,-8.173000e+09,-6.400000e+09,NaN
Operating Cash Flow,2.402600e+10,2.798800e+10,2.472400e+10,1.937000e+10,1.924600e+10,NaN
Cash Flow From Continuing Operating Activities,2.402600e+10,2.798800e+10,2.472400e+10,1.937000e+10,1.924600e+10,NaN
Change In Working Capital,5.590000e+08,-5.040000e+08,2.070000e+09,-7.410000e+08,2.230000e+08,NaN
Change In Other Current Liabilities,7.120000e+08,1.114000e+09,9.010000e+08,7.070000e+08,8.300000e+07,NaN
Change In Other Current Assets,-5.200000e+07,-2.000000e+08,-2.900000e+07,5.300000e+07,-9.400000e+07,NaN
Change In Payables And Accrued Expense,-3.265000e+09,2.090000e+09,1.239000e+09,-2.470000e+08,-2.386000e+09,NaN
Change In Accrued Expense,-2.231000e+09,1.522000e+09,5.720000e+08,-4.970000e+08,-1.274000e+09,NaN
Change In Payable,-1.034000e+09,5.680000e+08,6.670000e+08,2.500000e+08,-1.112000e+09,NaN
Change In Account Payable,-1.034000e+09,5.680000e+08,6.670000e+08,2.500000e+08,-1.112000e+09,NaN
Change In Prepaid Assets,3.600000e+08,-5.300000e+08,-1.840000e+08,-8.400000e+07,1.000000e+08,NaN
Change In Receivables,2.804000e+09,-2.978000e+09,1.430000e+08,-1.170000e+09,2.520000e+09,NaN
Changes In Account Receivables,2.804000e+09,-2.978000e+09,1.430000e+08,-1.170000e+09,2.520000e+09,NaN
Other Non Cash Items,-2.310000e+08,1.690000e+08,-1.100000e+07,-2.450000e+08,1.740000e+08,NaN
Stock Based Compensation,4.147000e+09,4.262000e+09,4.250000e+09,4.616000e+09,3.562000e+09,NaN
Asset Impairment Charge,NaN,9.500000e+07,8.000000e+06,4.000000e+07,2.400000e+08,1.090000e+09
Deferred Tax,-9.930000e+08,-1.332000e+09,-1.308000e+09,-1.642000e+09,-4.560000e+08,NaN
Deferred Income Tax,-9.930000e+08,-1.332000e+09,-1.308000e+09,-1.642000e+09,-4.560000e+08,NaN
Depreciation Amortization Depletion,3.900000e+09,4.460000e+09,4.027000e+09,3.637000e+09,3.374000e+09,NaN
Depreciation And Amortization,3.900000e+09,4.460000e+09,4.027000e+09,3.637000e+09,3.374000e+09,NaN
Net Income From Continuing Operations,1.664400e+10,2.083800e+10,1.568800e+10,1.346500e+10,1.236900e+10,NaN

In [61]:
import yfinance as yf
import pandas as pd

# Step 1: Choose a stock ticker (e.g., Meta Platforms)
# Note: 'FB' was changed to 'META' after Facebook rebranded
symbol = "META"
ticker = yf.Ticker(symbol)

# Step 2: Get full annual income statement data
# This includes Revenue, Gross Profit, Operating Income, Net Income, etc.
annual_income = ticker.income_stmt

# Step 3: Get quarterly income statement data
quarterly_income = ticker.quarterly_income_stmt

# Step 4: Access specific financial metric (Net Income)
# This replaces deprecated `ticker.earnings` and `ticker.quarterly_earnings`
print("✅ Annual Net Income (replaces ticker.earnings):")
print(annual_income.loc['Net Income'])

print("\n✅ Quarterly Net Income (replaces ticker.quarterly_earnings):")
print(quarterly_income.loc['Net Income'])

✅ Annual Net Income (replaces ticker.earnings):
2024-12-31    6.236000e+10
2023-12-31    3.909800e+10
2022-12-31    2.320000e+10
2021-12-31    3.937000e+10
2020-12-31             NaN
Name: Net Income, dtype: float64

✅ Quarterly Net Income (replaces ticker.quarterly_earnings):
2025-03-31    1.664400e+10
2024-12-31    2.083800e+10
2024-09-30    1.568800e+10
2024-06-30    1.346500e+10
2024-03-31    1.236900e+10
Name: Net Income, dtype: float64

### Sustainability: Environmental, Social and Governance (ESG)

In [48]:
ticker.sustainability

                                                                           esgScores
maxAge                                                                         86400
totalEsg                                                                        32.8
environmentScore                                                                2.47
socialScore                                                                    21.64
governanceScore                                                                 8.68
ratingYear                                                                      2025
ratingMonth                                                                        7
highestControversy                                                               4.0
peerCount                                                                        585
esgPerformance                                                             LEAD_PERF
peerGroup                                                        Software & Services
relatedControversy                                              [Customer Incidents]
peerEsgScorePerformance            {'min': 7.44, 'avg': 21.175435897435907, 'max'...
peerGovernancePerformance          {'min': 1.34, 'avg': 5.549801587301587, 'max':...
peerSocialPerformance              {'min': 4.49, 'avg': 10.007142857142858, 'max'...
peerEnvironmentPerformance         {'min': 0.05, 'avg': 3.2042460317460315, 'max'...
peerHighestControversyPerformance  {'min': 0.0, 'avg': 0.67008547008547, 'max': 4.0}
percentile                                                                      None
environmentPercentile                                                           None
socialPercentile                                                                None
governancePercentile                                                            None
adult                                                                          False
alcoholic                                                                      False
animalTesting                                                                  False
catholic                                                                        None
controversialWeapons                                                           False
smallArms                                                                      False
furLeather                                                                     False
gambling                                                                       False
gmo                                                                            False
militaryContract                                                               False
nuclear                                                                        False
pesticides                                                                     False
palmOil                                                                        False
coal                                                                           False
tobacco                                                                        False

### Analyst Recommendations

In [50]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      3 non-null      object
 1   strongBuy   3 non-null      int64
 2   buy         3 non-null      int64
 3   hold        3 non-null      int64
 4   sell        3 non-null      int64
 5   strongSell  3 non-null      int64
dtypes: int64(5), object(1)
memory usage: 276.0+ bytes

In [59]:
ticker.recommendations.tail(10)

Empty DataFrame
Columns: []
Index: []

### Upcoming Events

In [61]:
import yfinance as yf
ticker = yf.Ticker("AAPL")
ticker.calendar

{'Dividend Date': datetime.date(2025, 5, 15),
 'Ex-Dividend Date': datetime.date(2025, 5, 12),
 'Earnings Date': [datetime.date(2025, 8, 1)],
 'Earnings High': 1.51,
 'Earnings Low': 1.34,
 'Earnings Average': 1.42415,
 'Revenue High': 90104000000,
 'Revenue Low': 86919000000,
 'Revenue Average': 88638880990}

### Option Expiration Dates

In [63]:
ticker.options

('2025-07-18',
 '2025-07-25',
 '2025-08-01',
 '2025-08-08',
 '2025-08-15',
 '2025-08-22',
 '2025-08-29',
 '2025-09-19',
 '2025-10-17',
 '2025-11-21',
 '2025-12-19',
 '2026-01-16',
 '2026-02-20',
 '2026-03-20',
 '2026-05-15',
 '2026-06-18',
 '2026-09-18',
 '2026-12-18',
 '2027-01-15',
 '2027-06-17',
 '2027-12-17')

In [64]:
expiration = ticker.options[0]

In [65]:
options = ticker.option_chain(expiration)

In [66]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     70 non-null     object
 1   lastTradeDate      70 non-null     datetime64[ns, UTC]
 2   strike             70 non-null     float64
 3   lastPrice          70 non-null     float64
 4   bid                70 non-null     float64
 5   ask                70 non-null     float64
 6   change             70 non-null     float64
 7   percentChange      70 non-null     float64
 8   volume             69 non-null     float64
 9   openInterest       70 non-null     int64
 10  impliedVolatility  70 non-null     float64
 11  inTheMoney         70 non-null     bool
 12  contractSize       70 non-null     object
 13  currency           70 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 7.3+ KB

In [67]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL250718C00090000,2025-07-16 15:29:12+00:00,90.0,120.00,0.0,0.0,0.0,0.0,12.0,0,0.00001,True,REGULAR,USD
1,AAPL250718C00095000,2025-07-11 15:38:33+00:00,95.0,115.75,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
2,AAPL250718C00100000,2025-07-10 19:44:53+00:00,100.0,113.00,0.0,0.0,0.0,0.0,4.0,0,0.00001,True,REGULAR,USD
3,AAPL250718C00105000,2025-07-14 18:23:08+00:00,105.0,104.14,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
4,AAPL250718C00110000,2025-07-16 18:02:16+00:00,110.0,100.31,0.0,0.0,0.0,0.0,20.0,0,0.00001,True,REGULAR,USD

In [68]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     62 non-null     object
 1   lastTradeDate      62 non-null     datetime64[ns, UTC]
 2   strike             62 non-null     float64
 3   lastPrice          62 non-null     float64
 4   bid                62 non-null     float64
 5   ask                62 non-null     float64
 6   change             62 non-null     float64
 7   percentChange      62 non-null     float64
 8   volume             60 non-null     float64
 9   openInterest       62 non-null     int64
 10  impliedVolatility  62 non-null     float64
 11  inTheMoney         62 non-null     bool
 12  contractSize       62 non-null     object
 13  currency           62 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.5+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [71]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [73]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [75]:
tickers = yf.Tickers('msft aapl goog')

In [76]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [77]:
import yfinance as yf
import pandas as pd

tickers = yf.Tickers(["AAPL", "MSFT"])

# Correct way to access Microsoft's info
msft_info = tickers.tickers["MSFT"].info

# Convert to a Series
msft_series = pd.Series(msft_info)

# Display
msft_series.head(10)  # show first 10 items

address1                One Microsoft Way
city                              Redmond
state                                  WA
zip                            98052-6399
country                     United States
phone                        425 882 8080
website         https://www.microsoft.com
industry        Software - Infrastructure
industryKey       software-infrastructure
industryDisp    Software - Infrastructure
dtype: object

In [78]:
tickers.tickers["AAPL"].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-17 00:00:00-04:00,197.199997,198.389999,195.210007,195.639999,38856200,0.0,0.0
2025-06-18 00:00:00-04:00,195.940002,197.570007,195.070007,196.580002,45394700,0.0,0.0
2025-06-20 00:00:00-04:00,198.240005,201.699997,196.860001,201.000000,96813500,0.0,0.0
2025-06-23 00:00:00-04:00,201.630005,202.300003,198.960007,201.500000,55814300,0.0,0.0
2025-06-24 00:00:00-04:00,202.589996,203.440002,200.199997,200.300003,54064000,0.0,0.0
2025-06-25 00:00:00-04:00,201.449997,203.669998,200.619995,201.559998,39525700,0.0,0.0
2025-06-26 00:00:00-04:00,201.429993,202.639999,199.460007,201.000000,50799100,0.0,0.0
2025-06-27 00:00:00-04:00,201.889999,203.220001,200.000000,201.080002,73188600,0.0,0.0
2025-06-30 00:00:00-04:00,202.009995,207.389999,199.259995,205.169998,91912800,0.0,0.0
2025-07-01 00:00:00-04:00,206.669998,210.190002,206.139999,207.820007,78788900,0.0,0.0
2025-07-02 00:00:00-04:00,208.910004,213.339996,208.139999,212.440002,67941800,0.0,0.0
2025-07-03 00:00:00-04:00,212.149994,214.649994,211.809998,213.550003,34955800,0.0,0.0
2025-07-07 00:00:00-04:00,212.679993,216.229996,208.800003,209.949997,50229000,0.0,0.0
2025-07-08 00:00:00-04:00,210.100006,211.429993,208.449997,210.009995,42848900,0.0,0.0
2025-07-09 00:00:00-04:00,209.529999,211.330002,207.220001,211.139999,48749400,0.0,0.0
2025-07-10 00:00:00-04:00,210.509995,213.479996,210.029999,212.410004,44443600,0.0,0.0
2025-07-11 00:00:00-04:00,210.570007,212.130005,209.860001,211.160004,39765800,0.0,0.0
2025-07-14 00:00:00-04:00,209.929993,210.910004,207.539993,208.619995,38840100,0.0,0.0
2025-07-15 00:00:00-04:00,209.220001,211.889999,208.919998,209.110001,42296300,0.0,0.0
2025-07-16 00:00:00-04:00,210.300003,212.399994,208.639999,210.160004,47429600,0.0,0.0

In [79]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  2 of 2 completed

Price                   Close  Dividends        High         Low        Open  \
Date       Ticker
2025-06-17 AAPL    195.639999        0.0  198.389999  195.210007  197.199997
           MSFT    478.040009        0.0  478.739990  474.079987  475.399994
2025-06-18 AAPL    196.580002        0.0  197.570007  195.070007  195.940002
           MSFT    480.239990        0.0  481.000000  474.459991  478.000000
2025-06-20 AAPL    201.000000        0.0  201.699997  196.860001  198.240005
           MSFT    477.399994        0.0  483.459991  476.869995  482.230011
2025-06-23 AAPL    201.500000        0.0  202.300003  198.960007  201.630005
           MSFT    486.000000        0.0  487.750000  472.510010  478.209991
2025-06-24 AAPL    200.300003        0.0  203.440002  200.199997  202.589996
           MSFT    490.109985        0.0  491.850006  486.799988  488.950012
2025-06-25 AAPL    201.559998        0.0  203.669998  200.619995  201.449997
           MSFT    492.269989        0.0  494.559998  489.390015  492.040009
2025-06-26 AAPL    201.000000        0.0  202.639999  199.460007  201.429993
           MSFT    497.450012        0.0  498.040009  492.809998  492.980011
2025-06-27 AAPL    201.080002        0.0  203.220001  200.000000  201.889999
           MSFT    495.940002        0.0  499.299988  493.029999  497.549988
2025-06-30 AAPL    205.169998        0.0  207.389999  199.259995  202.009995
           MSFT    497.410004        0.0  500.760010  495.329987  497.040009
2025-07-01 AAPL    207.820007        0.0  210.190002  206.139999  206.669998
           MSFT    492.049988        0.0  498.049988  490.980011  496.470001
2025-07-02 AAPL    212.440002        0.0  213.339996  208.139999  208.910004
           MSFT    491.089996        0.0  493.500000  488.700012  489.989990
2025-07-03 AAPL    213.550003        0.0  214.649994  211.809998  212.149994
           MSFT    498.839996        0.0  500.130005  493.440002  493.809998
2025-07-07 AAPL    209.949997        0.0  216.229996  208.800003  212.679993
           MSFT    497.720001        0.0  498.750000  495.230011  497.380005
2025-07-08 AAPL    210.009995        0.0  211.429993  208.449997  210.100006
           MSFT    496.619995        0.0  498.200012  494.109985  497.239990
2025-07-09 AAPL    211.139999        0.0  211.330002  207.220001  209.529999
           MSFT    503.510010        0.0  506.779999  499.739990  500.299988
2025-07-10 AAPL    212.410004        0.0  213.479996  210.029999  210.509995
           MSFT    501.480011        0.0  504.440002  497.750000  503.049988
2025-07-11 AAPL    211.160004        0.0  212.130005  209.860001  210.570007
           MSFT    503.320007        0.0  505.029999  497.799988  498.470001
2025-07-14 AAPL    208.619995        0.0  210.910004  207.539993  209.929993
           MSFT    503.019989        0.0  503.970001  501.029999  501.519989
2025-07-15 AAPL    209.110001        0.0  211.889999  208.919998  209.220001
           MSFT    505.820007        0.0  508.299988  502.790009  503.019989
2025-07-16 AAPL    210.160004        0.0  212.399994  208.639999  210.300003
           MSFT    505.619995        0.0  506.720001  501.890015  505.179993

Price              Stock Splits    Volume
Date       Ticker
2025-06-17 AAPL             0.0  38856200
           MSFT             0.0  15414100
2025-06-18 AAPL             0.0  45394700
           MSFT             0.0  17526500
2025-06-20 AAPL             0.0  96813500
           MSFT             0.0  37576200
2025-06-23 AAPL             0.0  55814300
           MSFT             0.0  24864000
2025-06-24 AAPL             0.0  54064000
           MSFT             0.0  22305600
2025-06-25 AAPL             0.0  39525700
           MSFT             0.0  17495100
2025-06-26 AAPL             0.0  50799100
           MSFT             0.0  21578900
2025-06-27 AAPL             0.0  73188600
           MSFT             0.0  34539200
2025-06-30 AAPL             0.0  91912800
           MSFT             0.0  28369000
2025-07-01 AAPL             0.0  78788900
           MSFT             0.0  19945400
2025-07-02 AAPL             0.0  67941800
           MSFT             0.0  16319600
2025-07-03 AAPL             0.0  34955800
           MSFT             0.0  13984800
2025-07-07 AAPL             0.0  50229000
           MSFT             0.0  13981600
2025-07-08 AAPL             0.0  42848900
           MSFT             0.0  11846600
2025-07-09 AAPL             0.0  48749400
           MSFT             0.0  18659500
2025-07-10 AAPL             0.0  44443600
           MSFT             0.0  16492100
2025-07-11 AAPL             0.0  39765800
           MSFT             0.0  16459500
2025-07-14 AAPL             0.0  38840100
           MSFT             0.0  12058800
2025-07-15 AAPL             0.0  42296300
           MSFT             0.0  14927200
2025-07-16 AAPL             0.0  47429600
           MSFT             0.0  15146200

In [80]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2 non-null      float64
 1   (Close, SPY)    2 non-null      float64
 2   (High, AAPL)    2 non-null      float64
 3   (High, SPY)     2 non-null      float64
 4   (Low, AAPL)     2 non-null      float64
 5   (Low, SPY)      2 non-null      float64
 6   (Open, AAPL)    2 non-null      float64
 7   (Open, SPY)     2 non-null      float64
 8   (Volume, AAPL)  2 non-null      int64
 9   (Volume, SPY)   2 non-null      int64
dtypes: float64(8), int64(2)
memory usage: 176.0 bytes

In [65]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4523 entries, 2025-07-11 08:00:00+00:00 to 2025-07-17 19:22:00+00:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (SPY, Open)     4423 non-null   float64
 1   (SPY, High)     4423 non-null   float64
 2   (SPY, Low)      4423 non-null   float64
 3   (SPY, Close)    4423 non-null   float64
 4   (SPY, Volume)   4423 non-null   float64
 5   (MSFT, Open)    3920 non-null   float64
 6   (MSFT, High)    3920 non-null   float64
 7   (MSFT, Low)     3920 non-null   float64
 8   (MSFT, Close)   3920 non-null   float64
 9   (MSFT, Volume)  3920 non-null   float64
 10  (AAPL, Open)    4293 non-null   float64
 11  (AAPL, High)    4293 non-null   float64
 12  (AAPL, Low)     4293 non-null   float64
 13  (AAPL, Close)   4293 non-null   float64
 14  (AAPL, Volume)  4293 non-null   float64
dtypes: float64(15)
memory usage: 565.4 KB

In [56]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\lenovo\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (5.3.0)
Requirement already satisfied: pandas>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2025.1.31)

In [71]:
import yfinance as yf

# Download SPY data directly from yfinance
data = yf.download('SPY',
                   start='2017-01-01',
                   end='2019-04-30',
                   auto_adjust=False)

# Show first 5 rows
print(data.head())

[*********************100%***********************]  1 of 1 completed

Price        Adj Close       Close        High         Low        Open  \
Ticker             SPY         SPY         SPY         SPY         SPY
Date
2017-01-03  196.117386  225.240005  225.830002  223.880005  225.039993
2017-01-04  197.284119  226.580002  226.750000  225.610001  225.619995
2017-01-05  197.127411  226.399994  226.580002  225.479996  226.270004
2017-01-06  197.832687  227.210007  227.750000  225.899994  226.529999
2017-01-09  197.179611  226.460007  227.070007  226.419998  226.910004

Price         Volume
Ticker           SPY
Date
2017-01-03  91366500
2017-01-04  78744400
2017-01-05  78379000
2017-01-06  71559900
2017-01-09  46939700

In [86]:
# auto_adjust = True
data.tail()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
2019-04-23,266.074402,292.880005,293.140015,290.420013,290.679993,52246600
2019-04-24,265.483948,292.230011,293.160004,292.070007,292.790009,50392900
2019-04-25,265.320404,292.049988,292.779999,290.730011,292.119995,57770900
2019-04-26,266.555969,293.410004,293.489990,291.239990,292.100006,50916400
2019-04-29,266.973846,293.869995,294.450012,293.410004,293.510010,57197700

In [58]:
# auto_adjust = False
data.tail()

Ticker                           MSFT                                      \
Price                            Open        High         Low       Close
Datetime
2025-07-17 19:06:00+00:00  512.030029  512.059387  511.940002  511.959991
2025-07-17 19:07:00+00:00  511.975006  512.000000  511.899994  511.991211
2025-07-17 19:08:00+00:00  511.989990  512.129883  511.970001  512.129883
2025-07-17 19:09:00+00:00  512.150024  512.174988  512.030029  512.070007
2025-07-17 19:10:00+00:00  512.074097  512.074097  512.074097  512.074097

Ticker                                    AAPL                          \
Price                       Volume        Open        High         Low
Datetime
2025-07-17 19:06:00+00:00  13780.0  210.970001  210.979996  210.899994
2025-07-17 19:07:00+00:00  18461.0  210.910004  211.029999  210.910004
2025-07-17 19:08:00+00:00  19756.0  211.000000  211.029907  211.000000
2025-07-17 19:09:00+00:00  25719.0  211.014999  211.054993  210.970001
2025-07-17 19:10:00+00:00      0.0  210.979996  210.979996  210.979996

Ticker                                                 SPY              \
Price                           Close   Volume        Open        High
Datetime
2025-07-17 19:06:00+00:00  210.910004  67607.0  628.210022  628.250000
2025-07-17 19:07:00+00:00  210.990005  53695.0  628.245178  628.270020
2025-07-17 19:08:00+00:00  211.009995  52841.0  628.200012  628.225220
2025-07-17 19:09:00+00:00  211.009995  83431.0  628.215027  628.280029
2025-07-17 19:10:00+00:00  210.979996      0.0  628.169983  628.169983

Ticker
Price                             Low       Close    Volume
Datetime
2025-07-17 19:06:00+00:00  628.190002  628.239990   92550.0
2025-07-17 19:07:00+00:00  628.172485  628.210022  108896.0
2025-07-17 19:08:00+00:00  628.169983  628.215027   82930.0
2025-07-17 19:09:00+00:00  628.179993  628.229980  159377.0
2025-07-17 19:10:00+00:00  628.169983  628.169983       0.0