# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [32]:
import pandas as pd
import yfinance as yf

In [33]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\lenovo\anaconda3\lib\site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.2.4)
Requirement already satisfied: requests>=2.31 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\lenovo\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\lenovo\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.1.31)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## How to work with a Ticker object

In [35]:
symbol = 'FB'
ticker = yf.Ticker(symbol)

### Show ticker info

In [37]:
pd.Series(ticker.info).head(20)

maxAge                        86400
priceHint                         2
previousClose                 40.36
open                          40.48
dayLow                        40.39
dayHigh                        40.5
regularMarketPreviousClose    40.36
regularMarketOpen             40.48
regularMarketDayLow           40.39
regularMarketDayHigh           40.5
volume                        97637
regularMarketVolume           97637
averageVolume                 25478
averageVolume10days           26870
averageDailyVolume10Day       26870
bid                           20.21
ask                             0.0
bidSize                           1
askSize                           1
fiftyTwoWeekLow               39.91
dtype: object

### Get market data

In [39]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41 entries, 2025-07-10 09:58:00-04:00 to 2025-07-16 14:30:00-04:00
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           41 non-null     float64
 1   High           41 non-null     float64
 2   Low            41 non-null     float64
 3   Close          41 non-null     float64
 4   Volume         41 non-null     int64
 5   Dividends      41 non-null     float64
 6   Stock Splits   41 non-null     float64
 7   Capital Gains  41 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 2.9 KB

### View company actions

In [41]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits, Capital Gains]
Index: []

In [42]:
ticker.dividends

Series([], Name: Dividends, dtype: float64)

In [43]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [45]:
ticker.financials

Empty DataFrame
Columns: []
Index: []

In [46]:
ticker.quarterly_financials

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Balance Sheet

In [48]:
ticker.balance_sheet

Empty DataFrame
Columns: []
Index: []

In [49]:
ticker.quarterly_balance_sheet

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Cashflow Statement

In [51]:
ticker.cashflow

Empty DataFrame
Columns: []
Index: []

In [52]:
ticker.quarterly_cashflow

Empty DataFrame
Columns: []
Index: []

In [53]:
ticker.earnings

In [54]:
ticker.quarterly_earnings

### Sustainability: Environmental, Social and Governance (ESG)

In [56]:
ticker.sustainability

HTTP Error 404:

Empty DataFrame
Columns: []
Index: []

### Analyst Recommendations

In [58]:
ticker.recommendations.info()

HTTP Error 404:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [59]:
ticker.recommendations.tail(10)

Empty DataFrame
Columns: []
Index: []

### Upcoming Events

In [61]:
import yfinance as yf
ticker = yf.Ticker("AAPL")
ticker.calendar

{'Dividend Date': datetime.date(2025, 5, 15),
 'Ex-Dividend Date': datetime.date(2025, 5, 12),
 'Earnings Date': [datetime.date(2025, 8, 1)],
 'Earnings High': 1.51,
 'Earnings Low': 1.34,
 'Earnings Average': 1.42415,
 'Revenue High': 90104000000,
 'Revenue Low': 86919000000,
 'Revenue Average': 88638880990}

### Option Expiration Dates

In [63]:
ticker.options

('2025-07-18',
 '2025-07-25',
 '2025-08-01',
 '2025-08-08',
 '2025-08-15',
 '2025-08-22',
 '2025-08-29',
 '2025-09-19',
 '2025-10-17',
 '2025-11-21',
 '2025-12-19',
 '2026-01-16',
 '2026-02-20',
 '2026-03-20',
 '2026-05-15',
 '2026-06-18',
 '2026-09-18',
 '2026-12-18',
 '2027-01-15',
 '2027-06-17',
 '2027-12-17')

In [64]:
expiration = ticker.options[0]

In [65]:
options = ticker.option_chain(expiration)

In [66]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     70 non-null     object
 1   lastTradeDate      70 non-null     datetime64[ns, UTC]
 2   strike             70 non-null     float64
 3   lastPrice          70 non-null     float64
 4   bid                70 non-null     float64
 5   ask                70 non-null     float64
 6   change             70 non-null     float64
 7   percentChange      70 non-null     float64
 8   volume             69 non-null     float64
 9   openInterest       70 non-null     int64
 10  impliedVolatility  70 non-null     float64
 11  inTheMoney         70 non-null     bool
 12  contractSize       70 non-null     object
 13  currency           70 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 7.3+ KB

In [67]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL250718C00090000,2025-07-16 15:29:12+00:00,90.0,120.00,0.0,0.0,0.0,0.0,12.0,0,0.00001,True,REGULAR,USD
1,AAPL250718C00095000,2025-07-11 15:38:33+00:00,95.0,115.75,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
2,AAPL250718C00100000,2025-07-10 19:44:53+00:00,100.0,113.00,0.0,0.0,0.0,0.0,4.0,0,0.00001,True,REGULAR,USD
3,AAPL250718C00105000,2025-07-14 18:23:08+00:00,105.0,104.14,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD
4,AAPL250718C00110000,2025-07-16 18:02:16+00:00,110.0,100.31,0.0,0.0,0.0,0.0,20.0,0,0.00001,True,REGULAR,USD

In [68]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     62 non-null     object
 1   lastTradeDate      62 non-null     datetime64[ns, UTC]
 2   strike             62 non-null     float64
 3   lastPrice          62 non-null     float64
 4   bid                62 non-null     float64
 5   ask                62 non-null     float64
 6   change             62 non-null     float64
 7   percentChange      62 non-null     float64
 8   volume             60 non-null     float64
 9   openInterest       62 non-null     int64
 10  impliedVolatility  62 non-null     float64
 11  inTheMoney         62 non-null     bool
 12  contractSize       62 non-null     object
 13  currency           62 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.5+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [71]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [73]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [75]:
tickers = yf.Tickers('msft aapl goog')

In [76]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [77]:
import yfinance as yf
import pandas as pd

tickers = yf.Tickers(["AAPL", "MSFT"])

# Correct way to access Microsoft's info
msft_info = tickers.tickers["MSFT"].info

# Convert to a Series
msft_series = pd.Series(msft_info)

# Display
msft_series.head(10)  # show first 10 items

address1                One Microsoft Way
city                              Redmond
state                                  WA
zip                            98052-6399
country                     United States
phone                        425 882 8080
website         https://www.microsoft.com
industry        Software - Infrastructure
industryKey       software-infrastructure
industryDisp    Software - Infrastructure
dtype: object

In [78]:
tickers.tickers["AAPL"].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-17 00:00:00-04:00,197.199997,198.389999,195.210007,195.639999,38856200,0.0,0.0
2025-06-18 00:00:00-04:00,195.940002,197.570007,195.070007,196.580002,45394700,0.0,0.0
2025-06-20 00:00:00-04:00,198.240005,201.699997,196.860001,201.000000,96813500,0.0,0.0
2025-06-23 00:00:00-04:00,201.630005,202.300003,198.960007,201.500000,55814300,0.0,0.0
2025-06-24 00:00:00-04:00,202.589996,203.440002,200.199997,200.300003,54064000,0.0,0.0
2025-06-25 00:00:00-04:00,201.449997,203.669998,200.619995,201.559998,39525700,0.0,0.0
2025-06-26 00:00:00-04:00,201.429993,202.639999,199.460007,201.000000,50799100,0.0,0.0
2025-06-27 00:00:00-04:00,201.889999,203.220001,200.000000,201.080002,73188600,0.0,0.0
2025-06-30 00:00:00-04:00,202.009995,207.389999,199.259995,205.169998,91912800,0.0,0.0
2025-07-01 00:00:00-04:00,206.669998,210.190002,206.139999,207.820007,78788900,0.0,0.0
2025-07-02 00:00:00-04:00,208.910004,213.339996,208.139999,212.440002,67941800,0.0,0.0
2025-07-03 00:00:00-04:00,212.149994,214.649994,211.809998,213.550003,34955800,0.0,0.0
2025-07-07 00:00:00-04:00,212.679993,216.229996,208.800003,209.949997,50229000,0.0,0.0
2025-07-08 00:00:00-04:00,210.100006,211.429993,208.449997,210.009995,42848900,0.0,0.0
2025-07-09 00:00:00-04:00,209.529999,211.330002,207.220001,211.139999,48749400,0.0,0.0
2025-07-10 00:00:00-04:00,210.509995,213.479996,210.029999,212.410004,44443600,0.0,0.0
2025-07-11 00:00:00-04:00,210.570007,212.130005,209.860001,211.160004,39765800,0.0,0.0
2025-07-14 00:00:00-04:00,209.929993,210.910004,207.539993,208.619995,38840100,0.0,0.0
2025-07-15 00:00:00-04:00,209.220001,211.889999,208.919998,209.110001,42296300,0.0,0.0
2025-07-16 00:00:00-04:00,210.300003,212.399994,208.639999,210.160004,47429600,0.0,0.0

In [79]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  2 of 2 completed

Price                   Close  Dividends        High         Low        Open  \
Date       Ticker
2025-06-17 AAPL    195.639999        0.0  198.389999  195.210007  197.199997
           MSFT    478.040009        0.0  478.739990  474.079987  475.399994
2025-06-18 AAPL    196.580002        0.0  197.570007  195.070007  195.940002
           MSFT    480.239990        0.0  481.000000  474.459991  478.000000
2025-06-20 AAPL    201.000000        0.0  201.699997  196.860001  198.240005
           MSFT    477.399994        0.0  483.459991  476.869995  482.230011
2025-06-23 AAPL    201.500000        0.0  202.300003  198.960007  201.630005
           MSFT    486.000000        0.0  487.750000  472.510010  478.209991
2025-06-24 AAPL    200.300003        0.0  203.440002  200.199997  202.589996
           MSFT    490.109985        0.0  491.850006  486.799988  488.950012
2025-06-25 AAPL    201.559998        0.0  203.669998  200.619995  201.449997
           MSFT    492.269989        0.0  494.559998  489.390015  492.040009
2025-06-26 AAPL    201.000000        0.0  202.639999  199.460007  201.429993
           MSFT    497.450012        0.0  498.040009  492.809998  492.980011
2025-06-27 AAPL    201.080002        0.0  203.220001  200.000000  201.889999
           MSFT    495.940002        0.0  499.299988  493.029999  497.549988
2025-06-30 AAPL    205.169998        0.0  207.389999  199.259995  202.009995
           MSFT    497.410004        0.0  500.760010  495.329987  497.040009
2025-07-01 AAPL    207.820007        0.0  210.190002  206.139999  206.669998
           MSFT    492.049988        0.0  498.049988  490.980011  496.470001
2025-07-02 AAPL    212.440002        0.0  213.339996  208.139999  208.910004
           MSFT    491.089996        0.0  493.500000  488.700012  489.989990
2025-07-03 AAPL    213.550003        0.0  214.649994  211.809998  212.149994
           MSFT    498.839996        0.0  500.130005  493.440002  493.809998
2025-07-07 AAPL    209.949997        0.0  216.229996  208.800003  212.679993
           MSFT    497.720001        0.0  498.750000  495.230011  497.380005
2025-07-08 AAPL    210.009995        0.0  211.429993  208.449997  210.100006
           MSFT    496.619995        0.0  498.200012  494.109985  497.239990
2025-07-09 AAPL    211.139999        0.0  211.330002  207.220001  209.529999
           MSFT    503.510010        0.0  506.779999  499.739990  500.299988
2025-07-10 AAPL    212.410004        0.0  213.479996  210.029999  210.509995
           MSFT    501.480011        0.0  504.440002  497.750000  503.049988
2025-07-11 AAPL    211.160004        0.0  212.130005  209.860001  210.570007
           MSFT    503.320007        0.0  505.029999  497.799988  498.470001
2025-07-14 AAPL    208.619995        0.0  210.910004  207.539993  209.929993
           MSFT    503.019989        0.0  503.970001  501.029999  501.519989
2025-07-15 AAPL    209.110001        0.0  211.889999  208.919998  209.220001
           MSFT    505.820007        0.0  508.299988  502.790009  503.019989
2025-07-16 AAPL    210.160004        0.0  212.399994  208.639999  210.300003
           MSFT    505.619995        0.0  506.720001  501.890015  505.179993

Price              Stock Splits    Volume
Date       Ticker
2025-06-17 AAPL             0.0  38856200
           MSFT             0.0  15414100
2025-06-18 AAPL             0.0  45394700
           MSFT             0.0  17526500
2025-06-20 AAPL             0.0  96813500
           MSFT             0.0  37576200
2025-06-23 AAPL             0.0  55814300
           MSFT             0.0  24864000
2025-06-24 AAPL             0.0  54064000
           MSFT             0.0  22305600
2025-06-25 AAPL             0.0  39525700
           MSFT             0.0  17495100
2025-06-26 AAPL             0.0  50799100
           MSFT             0.0  21578900
2025-06-27 AAPL             0.0  73188600
           MSFT             0.0  34539200
2025-06-30 AAPL             0.0  91912800
           MSFT             0.0  28369000
2025-07-01 AAPL             0.0  78788900
           MSFT             0.0  19945400
2025-07-02 AAPL             0.0  67941800
           MSFT             0.0  16319600
2025-07-03 AAPL             0.0  34955800
           MSFT             0.0  13984800
2025-07-07 AAPL             0.0  50229000
           MSFT             0.0  13981600
2025-07-08 AAPL             0.0  42848900
           MSFT             0.0  11846600
2025-07-09 AAPL             0.0  48749400
           MSFT             0.0  18659500
2025-07-10 AAPL             0.0  44443600
           MSFT             0.0  16492100
2025-07-11 AAPL             0.0  39765800
           MSFT             0.0  16459500
2025-07-14 AAPL             0.0  38840100
           MSFT             0.0  12058800
2025-07-15 AAPL             0.0  42296300
           MSFT             0.0  14927200
2025-07-16 AAPL             0.0  47429600
           MSFT             0.0  15146200

In [80]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2 non-null      float64
 1   (Close, SPY)    2 non-null      float64
 2   (High, AAPL)    2 non-null      float64
 3   (High, SPY)     2 non-null      float64
 4   (Low, AAPL)     2 non-null      float64
 5   (Low, SPY)      2 non-null      float64
 6   (Open, AAPL)    2 non-null      float64
 7   (Open, SPY)     2 non-null      float64
 8   (Volume, AAPL)  2 non-null      int64
 9   (Volume, SPY)   2 non-null      int64
dtypes: float64(8), int64(2)
memory usage: 176.0 bytes

In [82]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3962 entries, 2025-07-11 08:00:00+00:00 to 2025-07-17 10:01:17+00:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    3426 non-null   float64
 1   (MSFT, High)    3426 non-null   float64
 2   (MSFT, Low)     3426 non-null   float64
 3   (MSFT, Close)   3426 non-null   float64
 4   (MSFT, Volume)  3426 non-null   float64
 5   (AAPL, Open)    3763 non-null   float64
 6   (AAPL, High)    3763 non-null   float64
 7   (AAPL, Low)     3763 non-null   float64
 8   (AAPL, Close)   3763 non-null   float64
 9   (AAPL, Volume)  3763 non-null   float64
 10  (SPY, Open)     3873 non-null   float64
 11  (SPY, High)     3873 non-null   float64
 12  (SPY, Low)      3873 non-null   float64
 13  (SPY, Close)    3873 non-null   float64
 14  (SPY, Volume)   3873 non-null   float64
dtypes: float64(15)
memory usage: 495.2 KB

In [84]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\lenovo\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (5.3.0)
Requirement already satisfied: pandas>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [85]:
import yfinance as yf

# Download SPY data directly from yfinance
data = yf.download('SPY',
                   start='2017-01-01',
                   end='2019-04-30',
                   auto_adjust=False)

# Show first 5 rows
print(data.head())

[*********************100%***********************]  1 of 1 completed

Price        Adj Close       Close        High         Low        Open  \
Ticker             SPY         SPY         SPY         SPY         SPY
Date
2017-01-03  196.117371  225.240005  225.830002  223.880005  225.039993
2017-01-04  197.284119  226.580002  226.750000  225.610001  225.619995
2017-01-05  197.127396  226.399994  226.580002  225.479996  226.270004
2017-01-06  197.832626  227.210007  227.750000  225.899994  226.529999
2017-01-09  197.179642  226.460007  227.070007  226.419998  226.910004

Price         Volume
Ticker           SPY
Date
2017-01-03  91366500
2017-01-04  78744400
2017-01-05  78379000
2017-01-06  71559900
2017-01-09  46939700

In [86]:
# auto_adjust = True
data.tail()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
2019-04-23,266.074402,292.880005,293.140015,290.420013,290.679993,52246600
2019-04-24,265.483948,292.230011,293.160004,292.070007,292.790009,50392900
2019-04-25,265.320404,292.049988,292.779999,290.730011,292.119995,57770900
2019-04-26,266.555969,293.410004,293.489990,291.239990,292.100006,50916400
2019-04-29,266.973846,293.869995,294.450012,293.410004,293.510010,57197700

In [87]:
# auto_adjust = False
data.tail()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
2019-04-23,266.074402,292.880005,293.140015,290.420013,290.679993,52246600
2019-04-24,265.483948,292.230011,293.160004,292.070007,292.790009,50392900
2019-04-25,265.320404,292.049988,292.779999,290.730011,292.119995,57770900
2019-04-26,266.555969,293.410004,293.489990,291.239990,292.100006,50916400
2019-04-29,266.973846,293.869995,294.450012,293.410004,293.510010,57197700